<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1037869593729-0md3qak2tegqimq9t1u2af9flevafucj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1037869593729-0md3qak2tegqimq9t1u2af9flevafucj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1037869593729-0o05t7k99sioobqm67ml7vhhrjuar9fc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBPOVgjs9rsp8S1Aq4SMcOdRP3Ji1weiVk</string>
	<key>GCM_SENDER_ID</key>
	<string>1037869593729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xrpaynet.app</string>
	<key>PROJECT_ID</key>
	<string>xrpaynet-app</string>
	<key>STORAGE_BUCKET</key>
	<string>xrpaynet-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037869593729:ios:d76bcbe44f796f91a80980</string>
	<key>DATABASE_URL</key>
	<string>https://xrpaynet-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>